.App {
  font-family: "Arial Rounded MT Bold", "Arial Rounded MT", Arial, sans-serif;
  color: white;
  background-color: black;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}